.map-container{
    position: relative;
    padding-bottom: 75%;
    padding-top: 30px;
    height: 0;
    width: 70%;
    padding: 0;
    overflow: hidden;
}
.map-container>iframe{
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}