header{
    width: 100%;
    height: 500px;
    background-image: url("img/hinh-nen-laptop-dep-danh-cho-man-hinh-ips-19.jpg" );
    background-size: 100% 100%;
}
button{
    height: 500px;
    width: 200px;
    opacity: 0.1;
    background-color: aqua;
}
button:hover{
    opacity: 0.3;
}
#pre{
    float: left;
}
#next{
    float: right;
}
body{
    background-image: url("img/istockphoto-1057088274-170667a.jpg" );
    background-size: 100% 100%;
}
.menu{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 80px;
    border-radius: 5px;
    box-shadow:0 0 5px darkgreen;
    background-color: darkgreen;
}
.menu>ul{
    text-align: center;
}
.menu>ul>li{
    list-style-type: none;
    position: relative;
    display: inline-table;
    box-shadow:0px 0px 10px white;
}
.menu>ul>li>a{
    text-decoration: none;
    font-size: 50px;
    line-height: 80px;
    padding: 0 10px;
    color:white;
}
.menu>ul>li>a:hover{
    color: tomato;
}
.sub-menu{
    list-style-type: none;
    position: absolute;
    display: none;
    margin: 0px;
    padding: 0px;
    box-shadow:0 0 5px white;
    width: 520px;
    background-color: darkgreen;
}
.sub-menu>li{
    text-align: left;
}
.sub-menu>li>a{
    margin-left: 10px;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 50px;
    background-size: 5px;
}
.sub-menu>li:hover{
    background-color: lightgreen;
}
.sub-menu>li>a:hover{
    color: white;
    color: tomato;
}
.menu>ul>li:hover>.sub-menu{
    display:block;
} 
article{
    float:left;
    width: 80%;    
    box-shadow: 0 0 5px darkgreen;
}
aside{
    float:right;
    width: 19%;

}
audio{
    height: 20px;
}
aside>ul{
    width: 100%;
    height: auto;
    box-shadow: 0 0 5px darkgreen;
    padding: 0px;
    margin: 0px;
    
}
aside ul li{
    border-bottom: 1px dotted darkgreen;
    list-style: none;
    width: 100%;
    height: 40px;
}
aside>ul>li>a{
    text-decoration: none;
    color: white;
    line-height: 40px;
    padding-left: 6px;
    font-size: xx-large;
}
aside>ul>li:hover{
    background-color: wheat;
}
aside>ul>li>a:hover{
    color: tomato;
}
h1{
    font-size: xx-large;
    color: white;
    text-align: center;
}


   
   .blurred-box{
     position: relative;
     width: 250px;
     height: 250px;
     top: calc(50% - 175px);
     left: calc(50% - 125px);
     background: inherit;
     border-radius: 2px;
     overflow: hidden;
   }
   
   .blurred-box:after{
    content: '';
    width: 300px;
    height: 300px;
    background: inherit; 
    position: absolute;
    left: -25px;
    right: 0;
    top: -25px;  
    bottom: 0;
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
    filter: blur("10px");
   }
   
   

   .user-login-box{
     position: relative;
     margin-top: 50px;
     text-align: center;
     z-index: 1;
   }
   .user-login-box > *{
     display: inline-block;
     width: 200px;
   }
   
   .user-icon{
     width: 100px;
     height: 100px;
     position: relative;
     border-radius: 50%;
     background-size: 100% 100%;
     background-image: url("img/IMG_1203.JPG" );
   }
   
   .user-name{
     margin-top: 15px;
     margin-bottom: 15px;
     color: darkgreen;
     font-size: large;
    font-weight: bolder;     
}
   
   input.user-password{
     width: 120px;
     height: 18px;
     opacity: 0.4;
     border-radius: 2px;
     padding: 5px 15px;
     border: 0;
   }
   footer {
    height: 50px;
    clear: both;
    background-color:rgb(53, 148, 53);
    border-radius: 5px;
    box-shadow:0px 0px 10px darkgreen;
}
footer>.text{
    text-align: center;
    font-size: 25px;
}