header{
    width: auto;
    height:400px;
    background-image: url("img/TTS.jpg");
    background-size: 100% 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
header>img{
    width:80px;
    height:50px;
    padding:5px;

}
body{
    background-image: url("img/3.png");
    background-size: 100% 100% ;
}
nav{
    height:50px;
    background-color: rgb(53, 148, 53);
    border-radius: 5px;
    box-shadow:0px 0px 10px darkgreen;
    border: 3px white;
}
#khung{
    margin:20px 0px 40px 13px;
    width:48%;
    float:left;
    border: 5px double green;
    background-color: white;
    border-radius: 10px;
    box-shadow:0px 0px 20px darkgreen;
}


footer {
    height: 50px;
    clear: both;
    background-color:rgb(53, 148, 53);
    border-radius: 5px;
    box-shadow:0px 0px 10px darkgreen;
}
footer>img{
    float:left;
}
footer>.text2{
    float: right;
    font-size: 25px;
}

#khung .ten{

    font-size: 30px;
    background-color:rgb(53, 148, 53);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
    padding: 5px;
    border-radius: 0px 10px 0px 10px;   
}

#khung>img{
    height: auto;
    width: 30%;
    float:left;
    padding-bottom: 10px;
    margin-left: 10px
}
#khung>span{
    font-size: 24px;
    width: 65%;
    margin-left: 23px;
    float:left;

}
a:link{
    color: white;
    Text-decoration:none;
}
a:visited{
    color:green;
}
a:hover{
    color:aqua;
}
a:active{
    color:gray;
}
iframe{

    margin-left: 30px;
}
.ten1{
    padding: 20px;

}
h1{
    font-size: 60px;
    color:white;
    padding-left: 20px;
    text-shadow: 2px 2px 5px 5px rgb(53, 148, 53);
}
article{

    min-height: 1000px;
    margin: 0px;
    padding-top: 10px;
    clear:both;
}