
.col-25{
    width: 25%;
    float: left;
}
.prod{
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
    margin: 5px;
    padding: 5px;
    text-align: center;
    position: relative;
    background-color: white;
}
.prod>.name{
    font-variant: small-caps;
    color: orangered;
}
.prod>.image{
    max-width: 98%;
    height:150px;
    margin-bottom: 10px;
}
.prod>.price{
    position: absolute;
    left:5px;
    bottom: 5px;
    font-family: Impact;
    font-size: 25px;
    color:orange;
}

.prod>.new-icon{
    position: absolute;
    top:0px;
    right:0px;
    height: 50px;
    width: auto;
}
.prod>.icons{
    position: absolute;
    right:25px;
    bottom: 0px;
    width: 25px;
    height: auto;
}



.container{
    position: relative;
    width: 100%;
    height: 1000px;
    background-image: url("IMAGE/fpt.jpg");
    background-size:100% 100%;
}
ul.top-right{
    position: absolute;
    top:0px;
    right:0px;
    border-bottom-left-radius: 20px;
    background-color: orangered;
    padding: 0px;
    margin: 0px;
    box-shadow:0 0 5px orangered;
    height: 40px;
    list-style: none;
}
ul.top-right>li{
    float: left;
    margin: 0 5px;
}
ul.top-right>li> a{
    display: block;
    line-height: 40px;
    text-decoration: none;
    font-variant: small-caps;
    padding-left: 25px;
    color:white; 
}
ul.top-right>li> a:hover{
    color: yellow;
    font-weight: bolder;
}
*{
    margin: 0px;
    padding: 0px; 
}
.menu{

    border-radius: 5px;
    box-shadow:0 0 5px orangered;
    height: 40px;
    width: 100%;
    background-color: orangered; 
}
.menu>.company-info{
    width: 70%;
}
.company-info>ul>li {
    position: relative;
    line-height: 40px ;
    padding-left: 25px;
    color:white;
    float: left;
    display: inline-table;
}   
.company-info>ul>li>a{
    text-decoration: none;
    color:white;
}
.company-info>ul>li>a:hover{
    color:yellow;
    font-weight: bolder;
} 


.company-info li:hover .sub-menu {
    display: block;
}
.sub-menu {
    list-style-type: none;
    position:absolute;
    width: 100%;
    box-shadow: 0 0 5px orangered;
    display: none;
    text-align: center;
    background-color: orangered;
}
.sub-menu a{
    line-height: 30px;
    border-bottom: 1px dotted orangered;
    font-variant: small-caps;
    text-decoration: none ;
    color: whitesmoke;
}
.sub-menu>li:hover{ 
    background-color: silver;
}
.sub-menu>li a:hover{
    color: orangered;
    font-weight: bolder;
}
.menu>.lg a{
    float: right;
    display: inline-table;
    color: white;
    line-height: 40px;
    padding-right: 25px;
    text-decoration: none;
}


